
.txt-lg {
    color: #00F9A9;
}

.txt-g {
    color: #00FF3B;
}

.txt-y {
    color: #ffd700;
}

.txt-lr {
    color: #FF4F02;
}

.txt-r {
    color: #FF0461;
}

.txt-lb {
    color: #00ECFF;
}

.txt-b {
    color: #005FFF;
}
